:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: #242424;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	margin: 0;
}

* {
	box-sizing: border-box;
}

a {
	font-weight: 500;
	color: #007bff;
	text-decoration: inherit;
}

a:hover {
	color: #0056b3;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

button,
.button {
	display: inline-block;
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #fff;
	color: #242424;
	border-color: #242424;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover,
.button:hover {
	background-color: #242424;
	color: #ffffff;
	border-color: #007bff;
}

button:focus,
button:focus-visible,
.button:focus,
.button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

button:disabled,
.button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.action-btn {
	font-size: 1rem;
	color: black
}

.action-btn:hover {
	color: #007bff;
}

textarea {
	max-width: 100%;
	min-width: 10ch;
	min-height: 1.5rem;
	max-height: 20rem;
	padding: 0.5rem;
	border-radius: 8px;
	background-color: #f8f9fa;
	color: #242424;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

p {
	margin: 0;
}

main {
	min-height: 70vh;
}